[Desktop Entry]
Version=1.0
Type=Application
Name=OKKCNC
Comment=OKKCNC Controller
Exec=OKKCNC
Icon=OKKCNC.png
Path=
Terminal=true
StartupNotify=false
Name[en_US]=OKKCNC
